@font-face {
    font-family: "Circular";
    src: url("./Circular\ Std\ Book.otf");
    src: local("Circular"), local("Circular"),
        url("./Circular\ Std\ Book.otf") format("opentype");
}

* {
    padding: 0;
    margin: 0;
    font-family: "Circular";
}

.navbar {
    position: fixed;
    top: 0%;
    height: 10vh;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    background-color: transparent;
    z-index: 999;
}

.heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    z-index: 9999 !important;
}

.bg {
    position: absolute;
    overflow: hidden;
    height: 100%;
    width: 100%;
    top: 0;
    transition: all 1s cubic-bezier(0.5, 0, 0.2, 1);
}

.menu__btn {
    z-index: 99999;
    display: flex;
    flex-direction: column;
}

.menu__container {
    z-index: 105;
    list-style: none;
    line-height: 2em;
    text-align: right;
    margin-right: 20px;
}

.menu_bg_layer {
    width: 200vw;
    height: 250vw;
    border-radius: 50%;
    position: absolute;
    top: -250vw;
    right: -100vw;
    overflow: hidden;
    transition: all 0.7s cubic-bezier(0.5, 0, 0.2, 1);
    z-index: 100;
}

.bg_layer2 {
    background-color: #eb4034;
}

.bg_layer3 {
    background-color: #eb4034;
    opacity: 0.5;
}

a {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__list {
    list-style: none;
}

.btn {
    padding-left: 120px;
}

.menu__container {
    position: absolute;
    margin-top: 60px;
    visibility: hidden;
    transition-delay: 0.3s;
    right: 0;
}

.menu__title {
    font-size: 25px;
    margin-top: 1000px;
    color: black;
}

.menu__list {
    line-height: 45px;
    font-size: 25px;
}

.menu__item:hover {
    color: white;
}

@media only screen and (max-width:580px) {
    .txt0 {
        position: absolute;
        margin-top: 80px;
        margin-left: 30px;
        font-size: 35px;
    }

    .text {
        margin-left: 30px;
    }


    .container1 {
        font-size: 30px;
        height: 65vh;
        z-index: -1;
        width: 100%;
    }

    .container00 {
        height: 100vh;
        background-image: linear-gradient(to top, #ffffff, #f1f1fe, #e1e5fe, #ccd9ff, #b4ceff);
        z-index: 0;
    }

    .text1 {
        padding-right: 10px;
        position: absolute;
        margin-top: 130px;
        margin-left: 30px;
        animation: things .5s linear;
        font-size: 30px;
        transition: all .5s linear;
        transform: translateY(100px);
        opacity: 0;
    }

    .text1_1 {
        position: absolute;
        font-size: 15px;
        top: 220px;
        margin-left: 30px;
        transition: all .5s linear .3s;
        transform: translateY(100px);
        opacity: 0;
    }

    .btn1 {
        position: absolute;
        margin-top: 295px;
        margin-left: 30px;
        border: none;
        border-radius: 6px;
        padding: 10px;
        background-color: #F3878F;
        font-size: 15px;
        color: white;
        padding-left: 15px;
        padding-right: 15px;
        width: 140px;
        height: 45px;
        transition: all .5s linear .5s;
        transform: translateY(100px);
        opacity: 0;
    }

    .container2 {
        font-size: 30px;
        height: 35vh;
        z-index: 1;
        background: white;
    }

    .text2 {
        padding-top: 40px;
        padding-right: 10px;
        font-size: 30px;
        margin-left: 30px;
        transition: all .5s linear .7s;
        transform: translateY(100px);
        opacity: 0;
    }

    .btn2 {
        position: relative;
        margin-left: 30px;
        border: none;
        border-radius: 6px;
        padding: 10px;
        background: #007991;
        color: white;
        margin-top: 30px;
        padding-left: 15px;
        padding-right: 15px;
        font-size: 15px;
        width: 140px;
        height: 45px;
        transition: all .5s linear .9s;
        transform: translateY(100px);
        opacity: 0;
    }

    .container3 {
        font-size: 30px;
        height: 100vh;
    }

    .text3 {
        position: relative;
        top: 15vh;
        margin-left: 30px;
        transition: all .5s linear;
        transform: translateY(100px);
        opacity: 0;
    }

    .text3_1 {
        position: relative;
        margin-top: 120px;
        font-size: 20px;
        margin-left: 30px;
        margin-right: 30px;
        transition: all .5s linear .2s;
        transform: translateY(100px);
        opacity: 0;
    }

    .container4 {
        display: flex;
        flex-direction: column;
        align-content: center;
        font-size: 30px;
        height: 100vh;
    }

    .container5 {
        position: relative;
        display: flex;
        flex-direction: row;
        top: 15vh;
        height: 20vh;
        width: 60vw;
    }

    .c {
        position: relative;
        margin-left: 15vw;
        font-size: 75px;
        color: #363842;
        font-weight: 900;
        width: 40vw;
        transition: all .5s linear .7s;
        transform: translateY(100px);
        opacity: 0;
    }

    .text4 {
        font-size: 25px;
        position: relative;
        margin-left: 30px;
        transition: all .5s linear .3s;
        transform: translateY(100px);
        opacity: 0;
    }

    .container6 {
        position: relative;
        display: flex;
        flex-direction: row;
        top: 16vh;
        height: 20vh;
    }

    .red {
        background-color: #70db70;
    }

    .text5 {
        font-size: 25px;
        position: relative;
        transition: all .5s linear .5s;
        text-align: left;
        margin-left: 25vw;
        margin-top: 13px;
        transform: translateY(100px);
        opacity: 0;
    }

    .u {
        position: relative;
        font-size: 75px;
        color: #363842;
        font-weight: 900;
        margin-left: 13vw;
        transition: all .5s linear .7s;
        transform: translateY(100px);
        opacity: 0;
    }

    .container7 {
        position: relative;
        display: flex;
        flex-direction: row;
        top: 13vh;
        height: 20vh;
        width: 100vw;
    }

    .text6 {
        font-size: 25px;
        position: relative;
        margin-left: 30px;
        width: 50vw;
        transition: all .5s linear .7s;
        transform: translateY(100px);
        opacity: 0;
    }

    .f {
        position: relative;
        font-size: 75px;
        margin-left: 5vw;
        width: 40vw;
        color: #363842;
        font-weight: 900;
        transition: all .5s linear .7s;
        transform: translateY(100px);
        opacity: 0;
    }

    .container8 {
        position: relative;
        top: 10vh;
        height: 30vh;
    }

    .btn3 {
        position: absolute;
        border-radius: 4px;
        background: rgb(73, 219, 73);
        color: white;
        width: 120px;
        height: 60px;
        border: none;
        font-size: 20px;
        margin-top: 30px;
        cursor: pointer;
        transition: all .5s linear .9s;
        transform: translateY(100px);
        opacity: 0;
    }

    .btn3_1 {
        position: relative;
        border-radius: 4px;
        background: rgb(0, 121, 145);
        width: 140px;
        height: 80px;
        border: none;
        font-size: 20px;
        font-weight: 100;
        color: white;
        margin-top: 70px;
        cursor: pointer;
        transition: all .5s linear .4s;
        transform: translateY(100px);
        opacity: 0;
    }

    .blu {
        background-color: rgb(0, 121, 145);
    }

    .comeup {
        opacity: 1;
        transform: translateY(0);
    }
}



@media only screen and (min-width: 580px) {
    .txt0 {
        position: absolute;
        margin-top: 80px;
        margin-left: 10vw;
        font-size: 35px;
    }

    .text {
        margin-left: 10vw;
        font-size: 40px;
    }

    .container1 {
        font-size: 30px;
        height: 65vh;
        z-index: -1;
    }

    .container00 {
        height: 100vh;
        background-image: linear-gradient(to top, #ffffff, #f1f1fe, #e1e5fe, #ccd9ff, #b4ceff);
        z-index: 0;
    }

    .text1 {
        position: absolute;
        margin-top: 120px;
        animation: things .5s linear;
        font-size: 70px;
        margin-left: 10vw;
        transition: all .5s linear;
        transform: translateY(100px);
        opacity: 0;
    }

    .text1_1 {
        position: absolute;
        font-size: 30px;
        top: 310px;
        margin-left: 10vw;
        transition: all .5s linear .3s;
        transform: translateY(100px);
        opacity: 0;
    }

    .btn1 {
        position: absolute;
        margin-top: 370px;
        margin-left: 10vw;
        border: none;
        border-radius: 6px;
        padding: 10px;
        background-color: #F3878F;
        font-size: 25px;
        color: white;
        cursor: pointer;
        padding-left: 15px;
        padding-right: 15px;
        width: 160px;
        height: 65px;
        transition: all .5s linear .5s;
        transform: translateY(100px);
        opacity: 0;
    }

    .container2 {
        height: 35vh;
        z-index: 1;
        background: white;
    }

    .text2 {
        position: absolute;
        margin-left: 10vw;
        font-size: 45px;
        transition: all .5s linear .7s;
        transform: translateY(100px);
        opacity: 0;
    }

    .btn2 {
        position: relative;
        margin-left: 10vw;
        margin-top: 170px;
        border: none;
        border-radius: 6px;
        padding: 10px;
        background: #007991;
        color: white;
        cursor: pointer;
        padding-left: 15px;
        padding-right: 15px;
        font-size: 20px;
        width: 160px;
        height: 65px;
        transition: all .5s linear .9s;
        transform: translateY(100px);
        opacity: 0;
    }

    .container3 {
        font-size: 30px;
        /* width: 100vw; */
        height: 100vh;
    }

    .text3 {
        position: relative;
        top: 15vh;
        margin-left: 10vw;
        font-size: 80px;
        transition: all .5s linear;
        transform: translateY(100px);
        opacity: 0;
        /* color: #FF7F50; */
    }

    connect {
        display: inline;
    }

    .text3_1 {
        position: relative;
        margin-top: 120px;
        font-size: 30px;
        width: 57%;
        margin-left: 10vw;
        margin-right: 10px;
        transition: all .5s linear .3s;
        transform: translateY(100px);
        opacity: 0;
    }

    .btn3_1 {
        position: relative;
        border-radius: 4px;
        background: rgb(0, 121, 145);
        width: 220px;
        height: 90px;
        border: none;
        font-size: 25px;
        color: white;
        margin-top: 70px;
        cursor: pointer;
        transition: all .5s linear .5s;
        transform: translateY(100px);
        opacity: 0;
    }

    .container4 {
        display: flex;
        flex-direction: column;
        align-content: center;
        font-size: 30px;
        height: 100vh;
    }

    .container5 {
        display: flex;
        flex-direction: row;
        position: relative;
        top: 10vh;
        height: 20vh;
    }

    .text4 {
        position: relative;
        font-size: 55px;
        padding-right: 15px;
        margin-top: 10px;
        margin-left: 10vw;
        transition: all .5s linear .3s;
        transform: translateY(100px);
        opacity: 0;
    }

    .container6 {
        display: flex;
        flex-direction: row;
        position: relative;
        top: 10vh;
        height: 20vh;
    }

    .text5 {
        position: relative;
        font-size: 55px;
        padding-left: 15px;
        margin-left: 50vw;
        transition: all .5s linear .5s;
        transform: translateY(100px);
        opacity: 0;
    }

    .container7 {
        display: flex;
        flex-direction: row;
        position: relative;
        font-size: 55px;
        margin-left: 10vw;
        top: 10vh;
        height: 20vh;
    }

    .text6 {
        font-size: 55px;
        padding-right: 15px;
        position: relative;
        margin-left: 15px;
        transition: all .5s linear .7s;
        transform: translateY(100px);
        opacity: 0;
    }

    .container8 {
        position: relative;
        top: 10vh;
        height: 30vh;
    }

    .btn3 {
        position: relative;
        border-radius: 6px;
        background: rgb(73, 219, 73);
        color: white;
        width: 220px;
        height: 90px;
        border: none;
        font-size: 20px;
        margin-top: 50px;
        transition: all .5s linear .9s;
        transform: translateY(100px);
        opacity: 0;
        cursor: pointer;
    }

    .c {
        position: relative;
        margin-left: 15vw;
        font-size: 145px;
        color: #363842;
        font-weight: 900;
        width: 40vw;
        transition: all .5s linear .7s;
        transform: translateY(100px);
        opacity: 0;
        display: none;
    }

    .u {
        position: relative;
        font-size: 75px;
        color: #363842;
        font-weight: 900;
        margin-left: 13vw;
        transition: all .5s linear .7s;
        transform: translateY(100px);
        opacity: 0;
        display: none;
    }

    .f {
        position: relative;
        font-size: 75px;
        margin-left: 5vw;
        width: 40vw;
        color: #363842;
        font-weight: 900;
        transition: all .5s linear .7s;
        transform: translateY(100px);
        opacity: 0;
        display: none;
    }

    .red {
        background-color: #70db70;
    }

    .blu {
        background-color: rgba(0, 121, 145, .6);
    }

    .comeup {
        opacity: 1;
        transform: translateY(0);
    }
}