@font-face {
    font-family: "Circular";
    src: url("./Circular\ Std\ Book.otf");
    src: local("Circular"), local("Circular"),
        url("./Circular\ Std\ Book.otf") format("opentype");
}

@font-face {
    font-family: "spartan";
    src: url("./LeagueGothic-Regular.otf");
    src: local("spartan"), local("spartan"),
        url("./LeagueGothic-Regular.otf") format("opentype");
}

* {
    padding: 0;
    margin: 0;
}

@import url(https://fonts.googleapis.com/css?family=Space+Mono:400, 700);

body {
    background: white;
    font-family: "Space Mono";
    font-weight: 400;
    height: 300vh;
    width: 100vw;
}

.heading {
    display: flex;
    position: fixed;
    top: 0;
    flex-direction: row;
    align-items: center;
    flex: 1;
    justify-content: space-between;
    height: 10vh;
    width: 100vw;
    overflow: hidden;
}

.text {
    margin-left: 30px;
    font-family: 'circular';
    color: #545666;
    margin-top: 10px;
}


input,
button {
    font-family: "Space Mono";
    font-size: 1em;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: 17px;
}

.container {
    overflow: hidden;
    position: relative;
    height: 100vh;
    z-index: 100;
}

.content {
    padding: 5%;
}

h1 {
    color: #16db93;
}

p {
    color: #545666;
}

/* --- menu --- */

.menu__btn {
    float: left;
    background: none;
    border: none;
    padding: 1em 0.5em;
    width: 50px;
}

.menu__label {
    margin-right: 20px;
    font-size: 0.8em;
    letter-spacing: 0.1em;
    font-weight: bold;
    color: #16db93;
}

.menu__title {
    font-size: 1.3em;
}

.menu__container {
    transition: all 0.4s 0.3s cubic-bezier(0.4, 0, 0.17, 1);
    transform: translateX(-20em);
    padding: 1em;
    color: white;
    font-size: 1em;
    top: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-align: left;
    opacity: 0;
    visibility: hidden;
    position: absolute;
}

.menu__list {
    padding: 0;
    margin-top: 2em;
}

.menu__item {
    transition: all 0.2s;
    list-style: none;
}

.menu__item:hover {
    color: black;
}

.menu__item:before,
.menu__item:last-child:after {
    content: "";
    display: block;
    width: 100px;
    height: 1px;
    background: hsla(0, 0%, 100%, 0.5);
    margin: 1em 0;
}

.menu__bg-layer {
    transition: all 0.4s cubic-bezier(0.5, 0, 0.2, 1);
    border-radius: 50%;
    opacity: 0;
    position: absolute;
    transform: translate(-50%, -50%);
    background: #16db93;
    height: 0;
    width: 0;
}

.menu__btn:hover .menu__container {
    transform: translateX(0);
    transition-delay: 0.1s;
    width: 100%;
    height: 100%;
    visibility: visible;
    opacity: 1;
}

.menu__btn:hover .menu__bg-layer {
    padding-bottom: 250%;
    width: 250%;
    opacity: 1;
}

.menu__btn:hover .menu__bg-layer-3 {
    background: #faf;
    transition-delay: 0.4s;
}

.menu__btn:hover .menu__bg-layer-2 {
    background: #faff7f;
    transition-delay: 0.3s;
}

.menu__btn:hover .menu__bg-layer-1 {
    transition-delay: 0.5s;
}

#title {
    font-size: 50px;
    font-weight: 800;
    width: 200px;
    font-family: "Circular";
    letter-spacing: 1px;
    margin-left: 30px;
    z-index: 100;
    margin-top: 100px;
}

.wavies>use {
    animation: waveAround 3s linear infinite;
}

.wavies>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 2s;
}

.wavies>use:nth-child(2) {
    animation-delay: -2s;
    animation-duration: 2s;
}

.wavies>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 2s;
}

@keyframes waveAround {
    0% {
        transform: translate(-90px, 0%);
    }

    100% {
        transform: translate(85px, 0%);
    }
}



svg {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-attachment: fixed;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    z-index: -5;
}


.wave1 {
    fill: #16db93;
}

.wave2 {
    fill: #16db93;
    opacity: 0.5;
}

.wave3 {
    fill: #16db93;
    opacity: 0.3;
}

/*# sourceMappingURL=output.css.map */